@using DeliveryServiceWebDBServer.Models
@{

    ViewBag.Title = "Расширенный поиск";
}


<div class="panel panel-default tabs">
    <ul class="nav nav-tabs" role="tablist">
        <li><a href="~/Admin/Index">Работа с данными</a></li>
        <li class="active"><a href="~/Constructor/Index" role="tab" data-toggle="tab">Расширенный поиск</a></li>
    </ul>
    <div class="panel-body tab-content">
        <div class="tab-pane" id="tab-first">  </div>
        <div class="tab-pane active" id="tab-second">
            @using (Html.BeginForm())
            {
                <fieldset>
                    <legend>Выберите таблицы:</legend>
                    <input type="checkbox" name="table" value="Отправления">Отправления<br>
                    <input type="checkbox" name="table" value="ПолучателиОтправители">ПолучателиОтправители<br>
                    <input type="checkbox" name="table" value="ПунктыВыдачи">ПунктыВыдачи<br>
                    <input type="checkbox" name="table" value="Города">Города<br>
                    <input type="checkbox" name="table" value="Регионы">Регионы<br>
                    <input type="checkbox" name="table" value="Страны">Страны<br>
                    <input type="checkbox" name="table" value="Тарифы">Тарифы<br>
                    <br>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <input type="submit" class="btn btn-default" value="Далее" />
                </fieldset>
            }
        </div>
    </div>
</div>



