@model DeliveryServiceWebDBServer.Models.SearchIdModel

@using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "navbar-form navbar-left" }))
{
    @*@Html.EditorFor(model => model.Id, new { @placeholder = "Номер накладной" })*@
    <input class="form-control" placeholder="Номер накладной" data-val="true" data-val-number="Значением поля должно быть число." 
           data-val-required="Требуется ввести номер накладной." id="Id" name="Id" type="number">
    @Html.ValidationMessageFor(model => model.Id)
    <button type="submit" class="btn btn-default">Поиск</button>
}

