@using DeliveryServiceWebDBServer.Models
<div class="container">
    <h4>Поиск отправлений</h4>
        @{
            if (ViewBag.suitedPackages == null)
            { <p>Отправления с таким номером не найдены</p> }
        else
        {
            <p>Выберите необходимое для просмотра отправление:</p>
            <ul>
                @foreach (int p in ViewBag.suitedPackages)
                {
                    <li>@Html.ActionLink(p.ToString(), "Details", "User", p, null)</li>}
                }
            </ul>
        }
        }
</div>
